@page "/lineup"
@attribute [Authorize(Roles = "CanViewLineupPage")]
<h3>Tee times for 4/1/2021 </h3>
<table class="table table-bordered">
    <tr>
        <th>Group</th>
        <th colspan="2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt <br />ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</th>
    </tr>
    <tr>
        <th rowspan="2">One<br><br>8:00</th>
        <td>John Doe</td>
        <td>Jane Doe</td>
    </tr>
    <tr>
        <td>John Smith</td>
        <td>Jane Smith</td>
    </tr>
    <tr>
        <th rowspan="2">Two<br><br>8:07</th>
        <td>John Doe</td>
        <td>Jane Doe</td>
    </tr>
    <tr>
        <td>John Smith</td>
        <td>Jane Smith</td>
    </tr>
    <tr>
        <th rowspan="2">Three<br><br>8:15</th>
        <td>John Doe</td>
        <td>Jane Doe</td>
    </tr>
    <tr>
        <td>John Smith</td>
        <td>Jane Smith</td>
    </tr>
    <tr>
        <th rowspan="2">Four<br><br>8:22</th>
        <td>John Doe</td>
        <td>Jane Doe</td>
    </tr>
    <tr>
        <td>John Smith</td>
        <td>Jane Smith</td>
    </tr>
    <tr>
        <th rowspan="2">Five<br><br>8:30</th>
        <td>John Doe</td>
        <td>Jane Doe</td>
    </tr>
    <tr>
        <td>John Smith</td>
        <td>Jane Smith</td>
    </tr>
</table>

@code {

}
